* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #e4e5e5;
}

body {
  background-color: #fff;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0;
  font-weight: 500;
  margin: auto;
  overflow-x: hidden;
  margin-top: 69.38px;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
nav,
footer {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #171d61;
  letter-spacing: 1.5px;
}

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
}

h4, h4, h6 {
  font-size: 1.1rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem auto;
}

p {
  margin: 1rem auto;
  line-height: 1.5;
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
}

a:hover {
  opacity: 0.8;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(23, 29, 97, 0.25);
  box-shadow: 0px 0px 40px 0px rgba(23, 29, 97, 0.25);
  text-transform: uppercase;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.2rem 2rem;
  background-color: #fff;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

header .logo {
  height: 50px;
  width: auto;
  margin: 5px 0;
}

header .hamburger {
  display: none;
  z-index: 999;
  width: 25px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

header .hamburger span {
  display: block;
  position: absolute;
  height: 3.5px;
  width: 100%;
  background: #171d61;
  border-radius: 20px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

header .hamburger span:nth-child(1) {
  top: 0px;
}

header .hamburger span:nth-child(2), header .hamburger span:nth-child(3) {
  top: 8px;
}

header .hamburger span:nth-child(4) {
  top: 16px;
}

header .ham_open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

header .ham_open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

header .ham_open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

header .ham_open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

header nav {
  background-color: #fff;
  margin-top: 17px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  list-style-type: none;
}

header nav ul li {
  margin: 0.5rem 1rem;
  position: relative;
  text-align: center;
  max-width: 120px;
}

header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
}

header nav ul li ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  opacity: 0;
  overflow: hidden;
  max-height: 0;
  margin: 0;
  -webkit-transition: max-height 0.5s, margin 0.5s, opacity 0.2s;
  transition: max-height 0.5s, margin 0.5s, opacity 0.2s;
  font-size: 0.85rem;
}

header nav ul li ul li {
  margin: 0.8rem auto;
}

header nav .wpmenucartli .wpmenucart-contents .cartcontents, header nav .wpmenucartli .wpmenucart-contents .amount {
  display: none !important;
}

header nav li:hover ul {
  margin-top: 1rem;
  max-height: 100vh;
  opacity: 1;
  -webkit-transition: max-height 1.5s, margin 0s, opacity 1s;
  transition: max-height 1.5s, margin 0s, opacity 1s;
}

footer {
  background-color: #171d61;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer div {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer * {
  margin: 1rem 1.5rem;
}

footer .fb-link {
  height: 45px;
  width: auto;
}

footer img {
  height: 70px;
  width: auto;
  max-width: 200px !important;
}

footer .footer_text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer_text p, footer .footer_text a {
  color: #fff;
  font-size: 0.7rem;
  text-decoration: none;
  margin: 0.5rem;
  text-align: left;
}

footer .footer_text a {
  text-transform: uppercase;
}

@media screen and (max-width: 1150px) {
  header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 69.38px;
  }
  header .hamburger {
    display: block;
  }
  header nav {
    width: 0;
    height: 0;
    visibility: hidden;
    right: -200vh;
    top: 0;
    -webkit-transition: right 0.2s;
    transition: right 0.2s;
    margin: 0;
    padding: 0;
    position: absolute;
  }
  header .nav_open {
    display: block;
    position: absolute;
    visibility: visible;
    -webkit-transition: right 0.3s;
    transition: right 0.3s;
    right: 0;
    top: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    z-index: 998;
  }
  header .nav_open ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 100%;
  }
  header .nav_open ul li {
    width: auto;
    margin: 1rem auto;
  }
  header .nav_open ul li ul {
    padding: 0;
    margin: 0;
  }
  header .nav_open ul li:hover ul {
    padding: 1rem 0;
  }
  header .nav_open ul li:hover ul li a {
    border: none;
  }
  header .nav_open ul li:hover a {
    border-bottom: 1px solid #171d61;
  }
}

@media screen and (max-width: 850px) {
  header {
    padding: 0 1rem;
  }
  footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer div {
    width: 100%;
    margin: 0;
  }
  footer .footer_text * {
    text-align: center !important;
  }
}

.home_header {
  height: calc(100vh - 69.38px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home_header .header_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 1rem;
}

.home_header .header_text {
  font-size: 2rem;
  text-align: center;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 1rem;
  line-height: 1.3;
}

@media screen and (max-width: 1000px) {
  .home_header .header_text {
    font-size: 1.7rem;
    margin: 0 1rem;
  }
}

@media screen and (max-width: 850px) {
  .home_header .header_img {
    padding: 0 0 1rem 0;
  }
  .home_header .header_text {
    font-size: 1.3rem;
    margin: 0 1rem;
    margin-bottom: 1rem;
  }
}

.woocommerce_picked {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(23, 29, 97, 0.25);
          box-shadow: 0px 0px 40px 0px rgba(23, 29, 97, 0.25);
  max-width: 1200px;
  padding: 2rem 2rem 1rem 2rem;
  margin: 6rem auto;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.woocommerce_picked h2, .woocommerce_picked h3 {
  width: 100%;
  text-align: center;
}

.woocommerce_picked h3 {
  letter-spacing: 0;
  margin: 0.5rem 0 3rem 0;
  font-weight: 300;
}

.woocommerce_picked a {
  width: 33%;
  padding: 0 2rem;
  text-decoration: none;
  font-family: 'Quicksand';
  margin-bottom: 2rem;
}

.woocommerce_picked a h3 {
  text-align: center;
  margin: 1rem 0;
  font-weight: 500;
}

.woocommerce_picked a img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.woocommerce_picked a p {
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.8rem;
  line-height: 160%;
  text-align: center;
}

.woocommerce_picked .button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.woocommerce_picked .button a {
  text-transform: uppercase;
  border: 1px solid #171d61;
  border-radius: 10px;
  text-align: center;
  width: auto;
  padding: 1rem;
  letter-spacing: 1px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.woocommerce_picked .button a:hover {
  background-color: #171d61;
  color: #fff;
  opacity: 1;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

@media screen and (max-width: 1250px) {
  .woocommerce_picked {
    max-width: 95%;
  }
}

@media screen and (max-width: 950px) {
  .woocommerce_picked {
    margin: 1rem auto;
  }
  .woocommerce_picked a {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 750px) {
  .woocommerce_picked a {
    width: 100%;
  }
  .home .woocommerce_picked {
    margin-top: 0;
  }
}

.wp-block-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem auto;
}

.wp-block-buttons .wp-block-button__link {
  text-transform: uppercase;
  border: 1px solid #171d61;
  border-radius: 10px;
  text-align: center;
  width: auto;
  padding: 1rem;
  letter-spacing: 1px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  background-color: #fff;
  color: #171d61;
  margin: auto;
}

.wp-block-buttons .wp-block-button__link:hover {
  background-color: #171d61;
  color: #fff;
  opacity: 1;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.block_img {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "immagine testi";
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  max-width: 1200px;
  margin: 3rem auto;
}

.block_img img {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: immagine;
  width: 350px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 1rem;
  margin-transition: all 0.3s;
}

.block_img .block_img_text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: testi;
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block_img .block_img_text h2 {
  margin: 0;
}

.block_img .block_img_text p {
  margin: 2rem 0;
  line-height: 1.8;
}

.block_img_right {
      grid-template-areas: "testi immagine";
}

@media screen and (max-width: 1400px) {
  .page-template-page-carisma .block_img {
        grid-template-areas: "immagine" "testi";
    margin-bottom: 3rem;
  }
  .page-template-page-carisma .block_img img {
    width: 350px;
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: auto;
    margin-bottom: 2.5rem;
    border-radius: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .page-template-page-carisma .block_img .block_img_text p {
    margin-bottom: 0;
  }
  .page-template-page-carisma .block_img .block_img_text {
    margin: 0;
    padding: 0 2rem;
    width: 100%;
    text-align: center;
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 950px) {
  .block_img {
        grid-template-areas: "immagine" "testi";
    margin-bottom: 3rem;
  }
  .block_img img {
    width: 350px;
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
    margin: auto;
    margin-bottom: 2.5rem;
    border-radius: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .block_img .block_img_text p {
    margin-bottom: 0;
  }
  .block_img .block_img_text {
    margin: 0;
    padding: 0 2rem;
    width: 100%;
    text-align: center;
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 750px) {
  .block_img img {
    width: 250px;
    height: 250px;
  }
}

.contacts_info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(275px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  max-width: 1000px;
  margin: 5rem auto;
  gap: 2rem;
  padding: 0 1rem;
}

.contacts_info .contacts_item {
  background-color: #171d61;
  color: #171d61;
  font-family: 'Raleway', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(23, 29, 97, 0.25);
          box-shadow: 0px 0px 40px 0px rgba(23, 29, 97, 0.25);
  overflow: hidden;
  font-size: 0.9rem;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.contacts_info .contacts_item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.contacts_info .contacts_item a {
  color: #171d61;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  word-break: break-word;
  margin: 0.5rem;
}

.contacts_info .contacts_item p {
  margin: 2rem auto;
  font-size: 0.8rem;
}

.contacts_info .contacts_item .white_contacts {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 0 1rem 1rem 1rem;
}

.contacts_info .contacts_item .white_contacts .contacs_info_section_name {
  margin-top: 0;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.contacts_info img {
  width: 50px;
  height: 50px;
  margin: 4rem 0;
}

.page-template-page-carisma {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 2fr;
      grid-template-columns: 1fr 2fr 2fr;
      grid-template-areas: "header header header" "cover cover cover" "sidebar article article" "footer footer footer";
}

.page-template-page-carisma header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

.page-template-page-carisma footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

.page-template-page-carisma article {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: article;
  width: 95%;
  overflow: hidden;
  padding: 1rem 3rem;
  margin: 0 auto 2rem;
}

.page-template-page-carisma article strong {
  font-weight: bold;
}

.page-template-page-carisma article h2 {
  margin: 2rem auto;
}

.page-template-page-carisma article .wp-block-image {
  text-align: center;
  margin: 3rem auto;
}

.page-template-page-carisma article .wp-block-jetpack-slideshow {
  margin: 3rem auto;
}

.page-template-page-carisma article .wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_container figure {
  background-color: #fff;
}

.page-template-page-carisma article .wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_container .wp-block-jetpack-slideshow_button-next, .page-template-page-carisma article .wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_container .wp-block-jetpack-slideshow_button-prev, .page-template-page-carisma article .wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_container .wp-block-jetpack-slideshow_button-pause {
  background-color: #444;
  border-radius: 100%;
  opacity: 0.3;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.page-template-page-carisma article .wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_container .wp-block-jetpack-slideshow_button-next:hover, .page-template-page-carisma article .wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_container .wp-block-jetpack-slideshow_button-prev:hover, .page-template-page-carisma article .wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_container .wp-block-jetpack-slideshow_button-pause:hover {
  background-color: #171D61;
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.page-template-page-carisma article .wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_container .wp-block-jetpack-slideshow_button-next::after, .page-template-page-carisma article .wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_container .wp-block-jetpack-slideshow_button-prev::after, .page-template-page-carisma article .wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_container .wp-block-jetpack-slideshow_button-pause::after {
  color: #000;
}

.page-template-page-carisma article .wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_container .swiper-pagination-bullet {
  background-color: #fff !important;
  border: 1px solid #171d61 !important;
}

.page-template-page-carisma article .wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_container .swiper-pagination-bullet:hover {
  background-color: #171d61 !important;
  opacity: 0.6 !important;
}

.page-template-page-carisma article .wp-block-jetpack-slideshow .wp-block-jetpack-slideshow_container .swiper-pagination-bullet-active {
  background-color: #171d61 !important;
  -webkit-transition: all 0.2s !important;
  transition: all 0.2s !important;
}

.page-template-page-carisma article .wp-block-embed-youtube {
  max-width: 600px;
  margin: 3rem auto;
}

.page-template-page-carisma article .wp-block-embed-youtube iframe {
  border-radius: 10px;
}

.page-template-page-carisma article .wp-block-webfactory-map {
  margin: 3rem auto;
  max-width: 600px;
}

.page-template-page-carisma article .wp-block-webfactory-map iframe {
  border-radius: 10px;
}

.page-template-page-carisma aside {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: sidebar;
  width: 100%;
  padding: 0 1rem;
  padding-bottom: 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-template-page-carisma aside .aside_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}

.page-template-page-carisma aside .aside_content sidebar {
  height: 100%;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(23, 29, 97, 0.25);
          box-shadow: 0px 0px 40px 0px rgba(23, 29, 97, 0.25);
  border-radius: 10px;
  overflow: hidden;
  border: none;
}

.page-template-page-carisma aside img {
  margin: 2rem 0;
}

.page-template-page-carisma .cover {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: cover;
  height: 80vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.page-template-page-carisma .cover img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.page-template-page-carisma .cover .opacity_cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #00000040;
}

.page-template-page-carisma .cover h2 {
  z-index: 3;
  color: #fff;
  font-size: 2.5rem;
  text-shadow: 1px 2px 10px #000;
}

@media screen and (max-width: 1250px) {
  .page-template-page-carisma .woocommerce_picked {
    margin: 1rem auto;
  }
  .page-template-page-carisma .woocommerce_picked a {
    width: 100%;
    padding: 0 1rem;
  }
  .page-template-page-carisma .woocommerce_picked .button {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page-template-page-carisma .woocommerce_picked .button a {
    text-transform: uppercase;
    border: 1px solid #171d61;
    border-radius: 10px;
    text-align: center;
    width: auto;
    padding: 1rem;
    letter-spacing: 1px;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }
  .page-template-page-carisma .woocommerce_picked .button a:hover {
    background-color: #171d61;
    color: #fff;
    opacity: 1;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }
}

@media screen and (max-width: 1000px) {
  .page-template-page-carisma {
        grid-template-areas: "header header header" "cover cover cover" "sidebar sidebar sidebar" "article article article" "footer footer footer";
  }
  .page-template-page-carisma aside {
    padding: 1rem;
  }
  .page-template-page-carisma aside img {
    margin: 0 auto;
    max-width: 500px;
    height: auto;
  }
  .page-template-page-carisma aside .aside_content {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .page-template-page-carisma aside img {
    max-width: 300px;
    width: 100%;
  }
}

.page-template-page-contatti {
  padding-top: 0.1rem;
}

.page-template-page-contatti .contact_form_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(23, 29, 97, 0.25);
          box-shadow: 0px 0px 40px 0px rgba(23, 29, 97, 0.25);
  max-width: 1200px;
  border-radius: 10px;
  margin: 2rem auto 5rem;
  overflow: hidden;
  position: relative;
}

.page-template-page-contatti .contact_form_container img {
  width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-template-page-contatti .contact_form_container .form_area {
  width: 60%;
  padding: 3rem;
}

.page-template-page-contatti .contact_form_container .form_area h2, .page-template-page-contatti .contact_form_container .form_area h5 {
  text-align: center;
}

.page-template-page-contatti .contact_form_container .form_area h5 {
  text-transform: uppercase;
}

.page-template-page-contatti .contact_form_container .form_area p {
  margin: 0;
}

.page-template-page-contatti .contact_form_container .form_area .wpcf7 {
  width: 100%;
  max-width: 500px;
  margin: auto;
  margin-top: 3rem;
}

.page-template-page-contatti .contact_form_container .form_area .wpcf7 * {
  width: 100%;
  text-align: center;
}

.page-template-page-contatti .contact_form_container .form_area .wpcf7 .ajax-loader {
  display: block;
  margin: auto;
  width: 15px;
}

.page-template-page-contatti .contact_form_container .form_area .wpcf7 label {
  color: #171d61;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.page-template-page-contatti .contact_form_container .form_area .wpcf7 label input, .page-template-page-contatti .contact_form_container .form_area .wpcf7 label textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #171d61;
  padding: 0.5rem;
  margin: 0.5rem auto;
}

.page-template-page-contatti .contact_form_container .form_area .wpcf7 label .wpcf7-form-control {
  font-family: 'Quicksand', sans-serif;
  color: #171d61;
}

.page-template-page-contatti .contact_form_container .form_area .wpcf7 .wpcf7-response-output {
  background-color: #171d61;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 1rem;
  font-size: 0.8rem;
}

.page-template-page-contatti .contact_form_container .form_area .wpcf7 .wpcf7-submit {
  width: 200px;
  text-transform: uppercase;
  border: 1px solid #171d61;
  border-radius: 10px;
  text-align: center;
  padding: 1rem;
  letter-spacing: 1px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  background-color: #fff;
}

.page-template-page-contatti .contact_form_container .form_area .wpcf7 .wpcf7-submit:hover {
  background-color: #171d61;
  color: #fff;
  opacity: 1;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.page-template-page-contatti p {
  max-width: 800px;
  margin: inherit auto;
  text-align: center;
}

.page-template-page-contatti .wp-block-webfactory-map {
  margin-top: 5rem;
}

@media screen and (max-width: 1250px) {
  .page-template-page-contatti .contact_form_container {
    max-width: 95%;
    margin: 2rem auto 5rem;
  }
}

@media screen and (max-width: 950px) {
  .page-template-page-contatti .contact_form_container img {
    width: 30%;
  }
  .page-template-page-contatti .contact_form_container .form_area {
    width: 70%;
  }
}

@media screen and (max-width: 800px) {
  .page-template-page-contatti p {
    margin: 2rem;
  }
}

@media screen and (max-width: 650px) {
  .page-template-page-contatti .contact_form_container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page-template-page-contatti .contact_form_container .form_area {
    padding: 0.5rem 2rem;
  }
  .page-template-page-contatti .contact_form_container img {
    width: 100%;
    height: 200px;
  }
  .page-template-page-contatti .contact_form_container .form_area {
    width: 100%;
  }
}

.woocommerce-account h2 {
  margin-top: 2rem;
  text-align: center;
}

.woocommerce-account .woocommerce-form-login {
  max-width: 1200px;
  margin: 2rem auto !important;
}

.woocommerce-account .woocommerce {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 1rem;
}

.woocommerce-account .woocommerce mark {
  color: #171d61 !important;
  background-color: #fff !important;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.woocommerce-account .woocommerce .shop_table, .woocommerce-account .woocommerce address {
  border-radius: 10px;
  border: 1px solid #171d61 !important;
}

.woocommerce-account .woocommerce .shop_table .cart-subtotal, .woocommerce-account .woocommerce .shop_table .order-total, .woocommerce-account .woocommerce .shop_table .product-name, .woocommerce-account .woocommerce .shop_table .product-total, .woocommerce-account .woocommerce address .cart-subtotal, .woocommerce-account .woocommerce address .order-total, .woocommerce-account .woocommerce address .product-name, .woocommerce-account .woocommerce address .product-total {
  color: #171d61;
  text-transform: uppercase;
}

.woocommerce-account .woocommerce .shop_table .order_item a, .woocommerce-account .woocommerce .shop_table .download-product a, .woocommerce-account .woocommerce address .order_item a, .woocommerce-account .woocommerce address .download-product a {
  text-decoration: none !important;
  color: #171d61 !important;
}

.woocommerce-account .woocommerce .shop_table .download-file a, .woocommerce-account .woocommerce address .download-file a {
  background-color: #171d61 !important;
  border-radius: 10px;
}

.woocommerce-account .woocommerce .woocommerce-Address-title {
  margin-bottom: 2rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.woocommerce-account .woocommerce address {
  color: #171d61 !important;
  padding: 1rem;
  text-align: center;
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation {
  text-transform: uppercase;
  color: #171d61;
  margin-bottom: 3rem;
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation * {
  margin: 1.5rem auto;
  text-decoration: none !important;
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation .is-active {
  text-decoration: underline !important;
}

.woocommerce-account .woocommerce .woocommerce-MyAccount-navigation .is-active * {
  font-weight: bold;
}

.woocommerce-account .woocommerce .button {
  border-radius: 10px;
  background-color: #171d61 !important;
  border: none;
  color: #fff !important;
  padding: 0.8rem;
}

.woocommerce-account .woocommerce .button:hover {
  opacity: 0.8;
}

.woocommerce-cart .woocommerce {
  min-height: calc(100vh - 320px);
}

.woocommerce {
  min-height: calc(100vh - 320px);
}

.woocommerce .woocommerce-message {
  background-color: #171d61 !important;
  color: #fff;
  border-top: none;
}

.woocommerce .woocommerce-message::before {
  color: #fff;
}

.woocommerce .woocommerce-message a {
  border-radius: 10px !important;
  background-color: #fff;
  color: #171d61;
}

.woocommerce .woocommerce-message a:hover {
  opacity: 0.8;
}

.woocommerce .woocommerce-order {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 1rem;
  text-align: center;
}

.woocommerce .woocommerce-order .woocommerce-order-details {
  padding-top: 2rem !important;
}

.woocommerce .woocommerce-order .woocommerce-order-details .shop_table {
  border-radius: 10px;
  border: 1px solid #171d61 !important;
}

.woocommerce .woocommerce-order .woocommerce-order-details .shop_table .cart-subtotal, .woocommerce .woocommerce-order .woocommerce-order-details .shop_table .order-total, .woocommerce .woocommerce-order .woocommerce-order-details .shop_table .product-name, .woocommerce .woocommerce-order .woocommerce-order-details .shop_table .product-total {
  color: #171d61;
  text-transform: uppercase;
}

.woocommerce .woocommerce-order .woocommerce-thankyou-order-received {
  font-size: 1.5rem;
  font-weight: bold;
  color: #171d61;
  text-align: center;
}

.woocommerce .woocommerce-order .woocommerce-thankyou-order-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #171d61;
}

.woocommerce .col2-set {
  margin: 2rem auto;
}

.woocommerce .col2-set .required {
  color: #171d61 !important;
}

.woocommerce .col2-set input, .woocommerce .col2-set textarea {
  border-radius: 10px;
  color: #171d61;
  border: 1px solid #171d61;
  background-color: #fff;
  padding: 0.8rem 1rem;
}

.woocommerce .col2-set button {
  border-radius: 10px;
  background-color: #171d61 !important;
  border: none;
  color: #fff !important;
  padding: 0.8rem;
}

.woocommerce .checkout {
  max-width: 1200px;
  margin: 0 auto !important;
  padding: 1rem;
}

.woocommerce .checkout h3 {
  text-align: center;
}

.woocommerce .checkout .shop_table {
  border-radius: 10px;
  border: 1px solid #171d61 !important;
}

.woocommerce .checkout .shop_table .cart-subtotal, .woocommerce .checkout .shop_table .order-total, .woocommerce .checkout .shop_table .product-name, .woocommerce .checkout .shop_table .product-total {
  color: #171d61;
  text-transform: uppercase;
}

.woocommerce .checkout .woocommerce-checkout-payment {
  background-color: #171d61 !important;
  color: #fff !important;
}

.woocommerce .checkout .woocommerce-checkout-payment .payment_box {
  color: #171d61 !important;
  background-color: #fff !important;
}

.woocommerce .checkout .woocommerce-checkout-payment .payment_box::before {
  border: 1em solid #fff !important;
  border-right-color: transparent !important;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
}

.woocommerce .checkout .woocommerce-checkout-payment button {
  border-radius: 10px;
  color: #171d61;
  border: 1px solid #171d61;
  background-color: #fff;
  padding: 0.8rem 1rem;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.woocommerce .checkout .woocommerce-checkout-payment button:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.woocommerce .woocommerce-button {
  border-radius: 10px;
  background-color: #171d61 !important;
  border: none;
  color: #fff !important;
  padding: 0.8rem;
}

.woocommerce .woocommerce-button:hover {
  opacity: 0.8;
}

.woocommerce .woocommerce-form, .woocommerce .woocommerce-form-coupon {
  max-width: 1200px;
  margin: 2rem auto !important;
  border: 1px solid #171d61 !important;
  border-radius: 10px !important;
}

.woocommerce .woocommerce-form input, .woocommerce .woocommerce-form-coupon input {
  border-radius: 10px;
  color: #171d61;
  border: 1px solid #171d61;
  background-color: #fff;
  padding: 0.8rem 1rem;
}

.woocommerce .woocommerce-form button, .woocommerce .woocommerce-form-coupon button {
  border-radius: 10px;
  background-color: #171d61 !important;
  border: none;
  color: #fff !important;
  padding: 0.8rem;
}

.woocommerce .product {
  max-width: 1200px;
  margin: auto;
  padding: 3rem 1rem;
}

.woocommerce .product .related {
  display: none;
}

.woocommerce .product h1 {
  text-align: left;
}

.woocommerce .product .price {
  color: #171d61 !important;
}

.woocommerce .product .posted_in {
  display: none;
}

.woocommerce .product .woocommerce-tabs {
  border-top: 1px solid #171d61;
}

.woocommerce .product .woocommerce-tabs .tabs {
  display: none;
}

.woocommerce .product .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.woocommerce .product .cart .quantity input {
  border-radius: 10px;
  color: #171d61;
  border: 1px solid #171d61;
  background-color: #fff;
  padding: 0.8rem 0;
}

.woocommerce .product .cart button {
  border-radius: 10px;
  background-color: #171d61 !important;
  border: none;
  olor: #fff !important;
  padding: 0.8rem;
}

.woocommerce .product .cart button:hover {
  opacity: 0.8;
}

.woocommerce .woocommerce-cart-form {
  padding: 3rem 1rem;
}

.woocommerce .woocommerce-cart-form table {
  border-radius: 10px;
  border: 1px solid #171d61;
}

.woocommerce .woocommerce-cart-form table .product-name a {
  color: #171d61 !important;
  text-decoration: none !important;
}

.woocommerce .woocommerce-cart-form table input[type="number"] {
  border-radius: 10px;
  color: #171d61;
  border: 1px solid #171d61;
  background-color: #fff;
  padding: 0.5rem 0;
}

.woocommerce .woocommerce-cart-form table .coupon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.woocommerce .woocommerce-cart-form table .coupon input {
  width: 200px !important;
  border-radius: 10px;
  color: #171d61;
  border: 1px solid #171d61 !important;
  background-color: #fff;
  padding: 0.8rem !important;
}

.woocommerce .woocommerce-cart-form table .coupon .button {
  border-radius: 10px;
  color: #171d61 !important;
  border: 1px solid #171d61;
  background-color: #fff !important;
  padding: 0.8rem;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.woocommerce .woocommerce-cart-form table .coupon .button:hover {
  background-color: #171d61 !important;
  color: #fff !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.woocommerce .woocommerce-cart-form table .button {
  border-radius: 10px;
  background-color: #171d61 !important;
  border: none;
  color: #fff !important;
  padding: 0.8rem !important;
}

.woocommerce .cart_totals {
  padding: 1rem;
}

.woocommerce .cart_totals .shop_table {
  border-radius: 10px;
  border: 1px solid #171d61 !important;
}

.woocommerce .cart_totals .shop_table .cart-subtotal, .woocommerce .cart_totals .shop_table .order-total {
  color: #171d61;
  text-transform: uppercase;
}

.woocommerce .checkout-button {
  border-radius: 10px !important;
  background-color: #171d61 !important;
}

.woocommerce .woocommerce-notices-wrapper ul, .woocommerce .woocommerce-notices-wrapper .woocommerce-info, .woocommerce .woocommerce-form-login-toggle ul, .woocommerce .woocommerce-form-login-toggle .woocommerce-info, .woocommerce .woocommerce-form-coupon-toggle ul, .woocommerce .woocommerce-form-coupon-toggle .woocommerce-info {
  background-color: #171d61;
  color: #fff;
  border-top: none;
}

.woocommerce .woocommerce-notices-wrapper ul::before, .woocommerce .woocommerce-notices-wrapper .woocommerce-info::before, .woocommerce .woocommerce-form-login-toggle ul::before, .woocommerce .woocommerce-form-login-toggle .woocommerce-info::before, .woocommerce .woocommerce-form-coupon-toggle ul::before, .woocommerce .woocommerce-form-coupon-toggle .woocommerce-info::before {
  color: #fff;
}

.woocommerce .woocommerce-notices-wrapper ul a, .woocommerce .woocommerce-notices-wrapper .woocommerce-info a, .woocommerce .woocommerce-form-login-toggle ul a, .woocommerce .woocommerce-form-login-toggle .woocommerce-info a, .woocommerce .woocommerce-form-coupon-toggle ul a, .woocommerce .woocommerce-form-coupon-toggle .woocommerce-info a {
  border-radius: 10px !important;
  background-color: #fff;
  color: #171d61;
  padding: 0.5rem;
  text-decoration: none;
  margin: 1rem;
}

.woocommerce .woocommerce-notices-wrapper ul a:hover, .woocommerce .woocommerce-notices-wrapper .woocommerce-info a:hover, .woocommerce .woocommerce-form-login-toggle ul a:hover, .woocommerce .woocommerce-form-login-toggle .woocommerce-info a:hover, .woocommerce .woocommerce-form-coupon-toggle ul a:hover, .woocommerce .woocommerce-form-coupon-toggle .woocommerce-info a:hover {
  opacity: 0.8;
}

.woocommerce .woocommerce-notices-wrapper .woocommerce-message, .woocommerce .woocommerce-form-login-toggle .woocommerce-message, .woocommerce .woocommerce-form-coupon-toggle .woocommerce-message {
  background-color: #171d61 !important;
  color: #fff;
  border-top: none;
}

.woocommerce .woocommerce-notices-wrapper .woocommerce-message::before, .woocommerce .woocommerce-form-login-toggle .woocommerce-message::before, .woocommerce .woocommerce-form-coupon-toggle .woocommerce-message::before {
  color: #fff;
}

.woocommerce .woocommerce-notices-wrapper .woocommerce-message a, .woocommerce .woocommerce-form-login-toggle .woocommerce-message a, .woocommerce .woocommerce-form-coupon-toggle .woocommerce-message a {
  border-radius: 10px !important;
  background-color: #fff;
  color: #171d61;
}

.woocommerce .woocommerce-notices-wrapper .woocommerce-message a:hover, .woocommerce .woocommerce-form-login-toggle .woocommerce-message a:hover, .woocommerce .woocommerce-form-coupon-toggle .woocommerce-message a:hover {
  opacity: 0.8;
}

.woocommerce .post-password-form, .woocommerce woocommerce-ResetPassword, .woocommerce .lost_reset_password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: calc(100vh - 320px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.woocommerce .post-password-form p, .woocommerce woocommerce-ResetPassword p, .woocommerce .lost_reset_password p {
  font-size: 1.2rem;
  color: #171d61;
  text-align: center;
  padding: 1rem;
}

.woocommerce .post-password-form p input[type="password"], .woocommerce .post-password-form p input[type="text"], .woocommerce woocommerce-ResetPassword p input[type="password"], .woocommerce woocommerce-ResetPassword p input[type="text"], .woocommerce .lost_reset_password p input[type="password"], .woocommerce .lost_reset_password p input[type="text"] {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #171d61;
  color: #171d61;
  padding: 0.5rem;
  margin: 1rem;
}

.woocommerce .post-password-form p input[type="submit"], .woocommerce .post-password-form p button[type="submit"], .woocommerce woocommerce-ResetPassword p input[type="submit"], .woocommerce woocommerce-ResetPassword p button[type="submit"], .woocommerce .lost_reset_password p input[type="submit"], .woocommerce .lost_reset_password p button[type="submit"] {
  background-color: #171d61;
  border-radius: 10px;
  border: none;
  color: #fff;
  padding: 1rem 2rem;
  margin: 1rem;
}

.woocommerce .post-password-form p input[type="submit"]:hover, .woocommerce .post-password-form p button[type="submit"]:hover, .woocommerce woocommerce-ResetPassword p input[type="submit"]:hover, .woocommerce woocommerce-ResetPassword p button[type="submit"]:hover, .woocommerce .lost_reset_password p input[type="submit"]:hover, .woocommerce .lost_reset_password p button[type="submit"]:hover {
  opacity: 0.8;
}

.woocommerce .woocommerce-result-count {
  display: none;
}

.woocommerce h1 {
  font-size: 1.5rem;
  padding: 2.5rem 1rem 1rem;
  text-align: center;
  text-transform: uppercase;
}

.woocommerce .woocommerce-ordering {
  position: relative;
  width: 100%;
  text-align: center;
  padding-bottom: 1rem;
}

.woocommerce .woocommerce-ordering .orderby {
  color: #171d61;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  padding: 1rem;
}

.woocommerce .woocommerce-ordering .orderby:hover {
  background-color: #171d61;
  color: #fff;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.woocommerce .products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: auto !important;
  padding: 2rem !important;
  gap: 2rem;
  max-width: 1400px;
}

.woocommerce .products:before, .woocommerce .products:after {
  content: none !important;
}

.woocommerce .products li {
  -webkit-box-shadow: 0px 0px 40px 0px rgba(23, 29, 97, 0.25);
          box-shadow: 0px 0px 40px 0px rgba(23, 29, 97, 0.25);
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 100% !important;
  position: relative;
}

.woocommerce .products li .woocommerce-loop-product__title {
  padding: 0 1rem !important;
}

.woocommerce .products li .add_to_cart_button, .woocommerce .products li .product_type_simple {
  margin: 2rem;
  text-transform: uppercase;
  border: 1px solid #171d61;
  border-radius: 10px;
  text-align: center;
  width: auto;
  padding: 1rem;
  letter-spacing: 1px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  background-color: #fff;
  color: #171d61;
}

.woocommerce .products li .add_to_cart_button:hover, .woocommerce .products li .product_type_simple:hover {
  background-color: #171d61;
  color: #fff;
  opacity: 1;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.woocommerce .products li .added_to_cart {
  border-radius: 10px;
  background-color: #171d61;
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
}

.woocommerce .products li .woocommerce-LoopProduct-link {
  width: 100%;
  height: 470px;
}

.woocommerce .products li .woocommerce-LoopProduct-link img {
  width: 100% !important;
  height: 380px !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.woocommerce .products li .woocommerce-LoopProduct-link .price {
  margin-top: 1rem;
}

.woocommerce .products li .woocommerce-LoopProduct-link .price .woocommerce-Price-amount {
  color: #171d61 !important;
  font-weight: bold;
}

.woocommerce-MyAccount-content header {
  position: relative;
}

@media screen and (max-width: 768px) {
  .woocommerce table.shop_table_responsive tr:nth-child(2n) td, .woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
    background-color: #171d6115;
  }
  .woocommerce-notices-wrapper ul a, .woocommerce-notices-wrapper .woocommerce-info a, .woocommerce-form-login-toggle ul a, .woocommerce-form-login-toggle .woocommerce-info a, .woocommerce-form-coupon-toggle ul a, .woocommerce-form-coupon-toggle .woocommerce-info a {
    margin: 1rem 0;
    display: block !important;
    width: 100%;
    left: 0;
  }
  .post-password-form input, woocommerce-ResetPassword input, .lost_reset_password input {
    margin: 0 !important;
  }
  .woocommerce-account .woocommerce .woocommerce-MyAccount-navigation * {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */